
body{
  margin: 0;
  color: #FFFFFF;
  font-family: Inter, sans-serif;
  
}

nav {
  background-color: #21222A;
  display:flex;
 align-items: center;
 height: 90px;
 padding: 30px 25px;
}

.nav--icon {
  width: 30px;
  margin-right: 7px;
}


.nav--logo_text{
  font-size: 30px;
  color: #60DBFB;
  margin-right: auto;
  font-weight: 700;
}
.nav--title {
  font-size: 20px;
  color: #DEEBf8;
  font-weight: 600;
}

main {
  background-color: #282D35; 
  padding: 56px 27px;
  background-image: url('./react-image.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20rem;
}

.main--title {
  margin: 0 1rem;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.05rem;
}
.main--list {
  max-width: 400px;
  margin-top: 46px;
}
.main--list > li {
  padding-block: 10px;
}

.main--list > li::marker {
  color: #60DBFB;
  font-size: 1.4rem;
}



